{% from 'bootstrap/pagination.html' import render_pagination %} 

{% if tools %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">工具</h3>
    </div>
    <div class="panel-body">
        <div style="float:none;text-align:center">
            <div class="row">
                {% for tool in tools %}
                <a class="btn btn-primary" target="_blank" href="{{ tool.url }}">{{ tool.name }}</a>
                {% endfor %}
            </div>
            <div class="row">
                {% if pagination.pages > 1 %}
                <div>
                    {{ render_pagination(pagination) }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}